:root {
  --main-primary-bg-color: #E5E5E5;
  --main-secondary-bg-color: #EAF2FD;
  --main-primary-text-color: #464646;
  --main-secondary-text-color: #464646;
  --main-icon-text-color: #2A7AE4;
  --main-card-bg-color: #ffffff;
  --main-placeholder-text: #A2A2A2;
}