nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

nav .nav-name i {
  color: var(--main-primary-text-color);
  font-size: 18px;
}
nav .nav-name a, .nav-contact a {
  font-weight: 400;
  text-decoration: none;
  color: var(--main-primary-text-color);
}

nav .nav-name a {
  font-weight: 700;
  font-size: 16px;
}

header {
  padding: 15px;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

header h1 {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-primary-text-color);
  padding: 10px;
}

header h2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--main-primary-text-color);
  padding: 10px;
}

header .header-contact button {
  padding: 10px;
  background-color: var(--main-primary-bg-color);
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--main-primary-text-color);
}

header .header-contact button i {
  padding: 5px;
}

.about {
  background-color: var(--main-secondary-bg-color);
  padding: 15px;
}

.about h1 {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-primary-text-color);
  padding: 10px;
}

.about p {
  font-size: 14px;
  font-weight: 400;
  color: var(--main-primary-text-color);
  padding: 10px;
}

.about .handwritten {
  font-family: 'Herr Von Muellerhoff', sans-serif;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 15px 0px 15px;
}

.skills h1 {
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0px 10px 20px 10px;
}

.skill-card {
  display: block;
  text-align: start;
  background-color: var(--main-card-bg-color);
  width: 35%;
  padding: 15px;
  margin-bottom: 20px;
}

.skill-card i {
  font-size: 28px;
  color: var(--main-icon-text-color);
  margin: 15px 0px;
}

.skill-card p {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-primary-text-color);
}

main {

}

main .academics {
  display: block;
  background-color: var(--main-secondary-bg-color);
  padding: 15px;
}

main .academics h1 {
  font-weight: 700;
  text-align: center;
  padding: 30px 10px 25px 10px;
}

main .academics .academics-card h2 {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 15px 5px 15px;
}

main .academics .academics-card p {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 15px 15px 15px;
}

main .academics .academics-card .card-image {
  background-color: var(--main-card-bg-color);
  margin: 5px 15px 5px 15px;
  display: flex;
  justify-content: center;
}

main .academics .academics-card .card-image img {
  width: 150px;
  height: 100px;
  padding: 10px;
  background-size: cover;
}

main .experiences {
  display: block;
  background-color: var(--main-primary-bg-color);
  padding: 15px;
}

main .experiences h1 {
  font-weight: 700;
  text-align: center;
  padding: 30px 10px 25px 10px;
}

main .experiences .experiences-card h2 {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 15px 5px 15px;
}

main .experiences .experiences-card p {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 15px 10px 15px;
}

main .experiences .experiences-card .card-image {
  margin: 5px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

main .experiences .experiences-card .card-image img {
  height: 144px;
  background-size: cover;
}

main .experiences .experiences-card .card-action {
  display: flex;
  padding: 0px 15px 30px 15px;
}

.btn-1 {
  background-color: var(--main-primary-bg-color);
  border: 1px solid var(--main-icon-text-color);
  color: var(--main-icon-text-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin-right: 10px;
}

.btn-2 {
  background-color: var(--main-icon-text-color);
  border: 1px solid var(--main-icon-text-color);
  color: var(--main-primary-bg-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

main .contact {
  padding: 15px;
  background-color: var(--main-secondary-bg-color);
}

main .contact h1 {
  font-weight: 700;
  font-size: 22px;
  padding: 10px 10px 0px 10px;
}

main .contact p {
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
}

main .contact form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

main .contact form label {
  color: var(--main-placeholder-text);
  font-size: 12px;
  margin-bottom: 5px;
}

main .contact form input, textarea {
  height: 46px;
  border: none;
  color: var(--main-primary-text-color);
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

main .contact form textarea {
  min-height: 150px;
}

main .contact form input:focus {
  color: var(--main-primary-text-color);
}

main .contact form .btn-2 {
  width: 150px;
  text-align: center;
}

footer {
  background-color: var(--main-card-bg-color);
  padding: 40px;
}

footer p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}